@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container-message {
        @apply flex gap-3 items-start justify-start w-full;
    }

    .container-message .icon {
        @apply w-10 h-10 rounded-full relative;
    }

    .container-message .icon .svg {
        @apply w-10 h-10;
    }

    .container-message .body {
        @apply flex flex-col w-[90%];
    }

    .container-author {
        @apply flex items-center gap-3;
    }
    
    .container-author .author {
        @apply text-base text-green-500;
    }

    .container-author .date {
        @apply text-xs text-[#949BA1];
    }

    .text-message {
        @apply text-sm break-words;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1A1B1E;
    border-radius: 10px; /* Borda arredondada */
    border: 2px solid #1A1B1E; /* Adicionando uma borda ao polegar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2B2D31;
    /* Cor do fundo do trilho */
    border-radius: 10px;
    /* Borda arredondada */
}